/**
* You can edit this whole file.
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}

html {
  font-size: 16px;
  line-height: 1.44;
}

a {
  text-decoration: none; 
  color:var(--gray-3);
}

ul, ol {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

header{
  color:  var(--gray-2);
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacer-1) var(--spacer-3);
}
header span{
  color: var(--gray-3);
  font-weight: var(--font-weight-heavy);
  padding: 1.5px ;
}
.logo{
  display: flex;
  align-items: center;
  grid-gap: var(--spacer-3);
}
.logo img{
  width: 33px;
  height: 33px;
}
nav ul{
  display: flex;
  grid-gap: var(--spacer-5);

}
nav a{
  font-weight: var(--font-weight-heavy);

}
nav li{
  transition: all .3s ease-in-out;
  padding: 1.5px ;
}
nav li.active, nav li:hover{

  border-bottom: 2px solid white;
}
h1{
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-bold);
  color: var(--gray-0);
  padding: var(--spacer-4) 0 0 var(--spacer-3);
}
h2{
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
  color: var(--gray-1);
  padding: 0 0 var(--spacer-1) 0;
}
p{
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-thin);
  color: var(--gray-0);
  padding: var(--spacer-2) 0;
}
article{
  padding: var(--spacer-3) var(--spacer-3);
  margin: var(--spacer-4) var(--spacer-3);
  box-shadow: var(--shadows);
  border: 1px solid var(--gray-2);
  border-radius: 4px;
}